DB_NAME=accounting
DB_USERNAME=accounting_user
DB_PASSWORD=REPLACE_ME
DOCKERHUB_USERNAME=kumarbolem
BACKEND_TAG=1.0.0
FRONTEND_TAG=1.0.0
JWT_SECRET=REPLACE_WITH_LONG_RANDOM_SECRET
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=REPLACE_ME
BUSINESS_NAME=Client Accounting Company
